*{
  box-sizing: border-box;
  margin: 10px;
 
}

td {
    text-align: center;
    padding: 5px 10px;
}

th, td {
    border: 1px solid;
  }

tbody tr{
    cursor: pointer;
  }

tbody > tr:hover{
    background-color: lightblue;
  }

th{
    font-size: larger;
    padding : 0 10px;
  }

.td-form {
    display: none;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-details{
  display: flex;
  flex-direction: column;
  padding : 0;
  margin-top: 0;
}

ul {
  padding: 0;
  margin-top: 0;
}

h3 {
 margin :0;
}